/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v25-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
	min-height: 100vh;
  line-height: 1.6;
  margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #313131;
	background-color: #ffffff;
	letter-spacing: 2px;
	box-sizing: border-box;
}
.body-wrapper{
	width: 80%;
	margin: 0 auto;
}
.visually-hidden{
	position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}
/*Header logog styles start*/
.header{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	margin-bottom: 50px;
}

.header-logo-block{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
border-bottom: 1px solid #31313163;
padding-top: 35px;
padding-bottom: 35px;
}
.header-burger-menu{
	cursor: pointer;
	box-sizing: border-box;
	width: 100px;
	background: url(../svg/menu-hamburger.svg) no-repeat left;
	background-size: 30px;
}
.header-logo{
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
	margin:0;

	display: flex;
	justify-content: center;
	align-items: center;
}
.header-logo-link{
	text-decoration: none;
	color: black;
}
.header-ico-wrapper{
	display: flex;
	flex-wrap: wrap;
}
.header-ico:hover, .header-ico:focus, .header-ico:active{
 opacity: 50%;
}
.loupe-ico{
	width: 25px;
	height: 25px;
    background: url(../svg/loupe3.svg) no-repeat center;
	background-size: 25px;
	cursor: pointer;
	padding-top: 30px;
	margin-right: 20px;
}
.basket-ico{
	width: 25px;
	height: 25px;
	background: url(../svg/basket-ico.svg) no-repeat center;
	background-size: 25px;
	cursor: pointer;
	padding-top: 30px;
}
/*Header logo styles end*/


/*Header map styles end*/
.header-map-block{
	padding-top: 25px;
}
.map-socials-wrap{
	margin-bottom: 40px;
}
.map-list{
 display: flex;
 flex-wrap: wrap;
 list-style: none;
  padding-left: 0;
  align-items: center; 
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

.social{
 display: block;
 box-sizing: border-box;
 text-decoration:none;
 background-repeat: no-repeat;
 background-position: center;
 background-size:17px;
 width:24px;
 height:24px;
 font-size:0;
 padding-right: 30px;
}
.social:hover{
	background-size: 20px;
}
.wa-ico{
 background-image:url(../svg/wa-ico.svg);
}
.tg-ico{
 background-image:url(../svg/tg-ico.svg);
}
.vk-ico{
 background-image:url(../svg/vk-ico.svg);
}
.map-catalog-list-item{
	padding-left: 65px;
}
.map-catalog-list-item-link{

	margin-right:50px ;

	position: relative;
	color: #313131; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none;
}
.map-catalog-list-item-link::after{
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 1px; /*задаём ширину линии*/
	background-color: #313131; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out;
}

.map-catalog-list-item-link:hover::after,
.map-catalog-list-item-link:focus::after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

/*Header map styles end*/


/*Burger popup styles start*/
.burger-popup-wrapper{
  display:none;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 6;

}

.popup-container{
	width: 300px;
	height: 100vh;
	background-color: white;
	display: flex;

}
.popup-content-wrap{
	width: 80%;
	margin: 0 auto;
	padding-top: 35px;

	position: relative;
}
.popup-header{
		font-family: 'Montserrat';
		font-size: 25px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 30px;
		padding-bottom:15px;
		border-bottom: 1px solid  #31313163;
}
.popup-close{
    position: absolute;
    width: 30px;
    height: 16px;
    top:10px;
    left: 200px;
    background-color: transparent;
    border: none;
    padding: 0;
    text-indent: -9999px;
    cursor: pointer;
  }
  .popup-close:before{
    width: 25px;
    height: 25px;
    content: "";
    background-image: url(../svg/cross.svg);
    background-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
  }

.popup-list{
	list-style: none;
	padding: 0;
}
.popup-list-item{
	border-bottom: 1px solid  #31313163;
	padding-bottom: 8px;
	margin-bottom: 10px;
}
.mobile-popup-list-item{
	display: none;
}
.popup-list-item-link{
	text-decoration: none;
	color: black;
}
.popup-mobile-search{
	display: none;
	width: 100%;
	position: absolute;
	bottom: 10px;
	border-bottom: 1px solid #31313163;
	justify-content: space-between;
}
.popup-mobile-search-field{
	border: none;
	outline: none;

	font-size: 16px;
	font-family: Roboto, sans-serif;
	letter-spacing: 2px;

	width: 100%;
}
.popup-mobile-search-button{
	width: 10%;


	background-color: transparent;

	border:none;
	background-image:url(../svg/loupe3.svg);
	background-repeat:no-repeat;
    background-size: 15px;
	background-position: center;
	cursor: pointer;
}
/*Burger popup styles end*/



/*Search popup styles start*/
.search-popup{
	display: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: #FFF;
	top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.search-popup-active{
	display: flex;
}
.search-popup-close{
	position: absolute;
	width: 30px;
	height: 30px;
	right: 50px;
	top:50px;
	background-image: url(../svg/cross.svg);
	background-size: cover;
	z-index: 3;
}

.search-popup-form{
	display:flex;
	align-items: end;
	justify-content: space-between;
	width: 45%;
	margin: 0 auto;
}
.search__field{
	width: 90%;
	height: 100%;
	padding-bottom: 10px;
	border: none;
	border-bottom: 1px solid #000000e8;
	outline: none;
	font-size: 20px;
}
.search__field::placeholder{
	color:  #313131b8;
	font-family: 'Roboto';
	font-size: 20px;
	letter-spacing: 3px;
}
.search__field::-webkit-search-decoration,
.search__field::-webkit-search-cancel-button,
.search__field::-webkit-search-results-button,
.search__field::-webkit-search-results-decoration
{ display: none; }

.search-button{
	width: 50px;
	height: 50px;
	background-color: transparent;

  border:none;
  background-image:url(../svg/loupe3.svg);
  background-repeat:no-repeat;
  background-size:40px;
  background-position: center;
	cursor: pointer;
}
.search-button:hover{
	background-size: 50px;
}
.reset-button{
	width: 50px;
	height: 50px;
	background-color: transparent;

	border:none;
	background-image:url(../svg/cross.svg);
	background-repeat:no-repeat;
	background-size:40px;
	background-position: center;
	cursor: pointer;
}
.reset-button:hover{
	background-size: 50px;
}
/*Search popup styles end*/




/*Company info styles start*/
.company-info{
	width: 100%;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.company-info-slider{
	width: 50%;
	max-width: 700px;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.slider-item-img::before{
	content:"";
	display:block;
	position:absolute;
	background-color: #000000;
	opacity: 30%;
	height: auto;
	top:0;
	bottom:0;
	right:0;
	left:0;
	transition: all 0.3s ease-in-out;
	z-index: 5;
}
.slider-item-img{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width: 100%;
	height: auto;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.img-active{
	opacity: 1;
	z-index: 2;
}
.company-info-slider:hover::before{
	opacity: 0;
}
.company-info-slider:hover .slider-arrow{
	opacity: 50%;
}
.slider-arrow{
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 5;
}
.info-slider{
	top: 50%;
}
.arrow-left{
	background: url(../svg/icon-arrow-left.svg) no-repeat left;
	left: 10px;
}
.arrow-right{
	background: url(../svg/icon-arrow-right.svg) no-repeat right;
	right: 10px;
}




.company-info-desc{
	display: flex;
	align-items: center;
	width: 45%;
	padding-left: 30px;
}
.company-info-title{
	font-size: 25px;
	font-weight: 300;
}

/*Company info styles end*/



/*Products section styles start*/
.products-section{
	margin-top: 100px;
}
.products-section-title{
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 20px;
	font-weight: 300;
	margin: 30px 0;
	color: #313131;
}
.slider-wrap{
	width: 100%;
	position: relative;
}
.products-container{
	display: flex;
	flex-wrap: nowrap;

	width: 100%;
	overflow: hidden;

	position: relative;

	scroll-behavior: smooth;
}
.product{
	height: 400px;
	margin-right: 10px;
	flex-shrink: 0;
	width: calc(100%/3);
}
.product:last-child{
	margin-right: 0;
}
.product img{
    height: 80%;
    width: 100%;
	object-fit: cover;
}

.product-desc{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}
.product-name{
	text-decoration: none;
	color: #313131;

}
.product-price{
	font-size: 12px;
	font-weight: bold;
}

.products-slider{
	top: 40%;
	transition: all 0.3s ease-out;
}
.products-slider.arrow-left{
	display: none;
}
.products-slider.arrow-left:hover{
	left: 0;
	opacity: 50%;
}
.products-slider.arrow-right:hover{
   right: 0;
	opacity: 50%;
}

@media screen and (max-width: 900px){

	.header-map-block{
		display: none;
	}
	.product{
		width: calc(100%/2);
	}
	.company-info{
		flex-wrap: nowrap;
		flex-direction: column;

		height: 100%;
	}
	.company-info-slider{
		height: 100vh;
		width: 100%;
	}
	.company-info-desc{
		width: 100%;
		padding: 0;
	}
}
@media screen and (max-width: 550px){
    .header-logo-block{
		justify-content: normal;
	}
	.product{
		width: 100%;
	}
	.header-ico-wrapper{
		display: none;
	}
	.popup-list-item{
		margin-bottom: 50px;
	}
	.mobile-popup-list-item{
		display: block;
	}
	.popup-mobile-search{
		display: flex;
	}
}
/*Products section styles end*/


/*Footer styles start*/
.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: #f7f5f5;
	margin-top: 400px;
}

.footer-link-item::after{
	display: none;
}
.footer-map-list{
	margin-bottom: 20px;
}
/*Footer styles end*/